@-moz-document domain("codeberg.org") {
	body {
		/* Requires arc-green theme */
		--color-body: #0d1117;
		--color-body-subtle: #161b22;
		--color-body-border: #30363d;

		--color-page-header: var(--color-body-subtle);
		--color-menu: var(--color-body-subtle);
		--color-input-background: var(--color-body-subtle);
		--color-card: var(--color-body-subtle);
		--color-box-header: var(--color-body);
		--color-box-body: var(--color-body);
		--color-markup-code-block: var(--color-body-subtle);
		--color-file-list-body: var(--color-body);
		--color-file-list-header: var(--color-body-subtle);
		--color-file-list-hover: var(--color-body-subtle);
		--color-navbar: var(--color-body);
		--color-footer: var(--color-body);
		--color-code-bg: var(--color-body);

		/* --color-secondary is mostly used as border color */
		--color-secondary: var(--color-body-border);
	}

	#navbar {
		background-color: var(--color-page-header) !important;
	}

	/* File list */
	.repository.file.list #repo-files-table th {
		background: var(--color-file-list-header);
		border-bottom: 1px solid var(--color-body-border);
	}
	.repository.file.list #repo-files-table tr {
		background: var(--color-file-list-body);
	}
	.repository.file.list #repo-files-table tr:hover {
		background-color: var(--color-file-list-hover) !important;
	}

	/* Commit header */
	.ui .info.segment.top {
		background-color: var(--color-body-subtle) !important;
	}
}
